/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 01-Dec-2025, 12:57:50
    Author     : niels
*/

#editrow-geo_code_1-Primary {
  display: none
}

#editrow-geo_code_2-Primary {
  display: none
}

#editrow-custom_79 {
  display: none
}
